.ionIcons{
    margin: 0px 6px 0px 0px;
}

.selectClass{
    // background: lightgrey;
    width: 100%;
    padding: 0px;
}
.ionItem{
    font-size: 14px;
    font-weight: bold;
    // color: #3880ff;
}