.headerClass{
    border: 1px dashed #9cc0ff;
    padding: 5px;
}

.contentClass{
    padding: 5px;
    border-bottom: 1px dashed #9cc0ff;
    border-right: 1px dashed #9cc0ff;
    border-left: 1px dashed #9cc0ff;
}
.shortVerticalLine{
    height: 18%;
    width: 2px;
    background:black;
}
.verticalLine{
    height: 25%;
    width: 2px;
    background:black;
}

.round{
    height: 5%;
    width: 30%;
    border-radius: 50%;
    margin: 10% 0%;
}

.red{
    background: red;
}
.green{
    background: green;
}
.grey{
    background: grey;
}
.yellow{
    background: yellow;

}

.centreAlign{
    text-align: -webkit-center;
}
.zeroPadding{
    padding: 0px;
}

.widthClass{
    width: 50%
}

.roundText{
    font-size: 10px;
    display: inline-block;
}

.icon{
    margin-top: -10% !important;
    margin-right: 4%;
}

.ionItem{
    --padding-start: 0px;
    --padding-end: 0px;
}

.rowBottom{
    border-bottom: 1px dotted grey;
}

.ionCardTitle{
    margin-top: 0px;
    font-weight: bold;
    font-size: 16px;
    padding: 0% 2%;
}

.textWrap{
    white-space: nowrap;
}

.ionInput{
    font-size: 14px;
    font-weight: 600;
}

.blinking{
    animation:blinkingBackground 0.8s infinite;
}

@keyframes blinkingBackground{
    0%{     background: yellow;    }
    49%{    color: transparent; }
    50%{    color: transparent; }
    99%{    color:transparent;  }
    100%{   color: yellow;    }
}

.searchbar{
    padding: 0px;
    margin: 0px;
}

.statusBarClass{
    background: #ededed;
}

.ionCard:hover{
    // box-shadow: 0 0 0 1px #4286f4;
    // transition: all 200ms ease-out;
}