

.example-custom-date-class {
    background: #ffd485;
    color: white !important;
    border-radius: 100%;
  }

  .dateInputClass{
    outline: none;
    border: none;
    max-width: 125px;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
  }